a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* FONT FAMILIES */
    /* font-family: 'Barlow', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Coming Soon', cursive; */

    
/* GENERAL STYLINGS */
    /* ALL COLOURS RELATING TO BORDERS, BUTTONS AND INPUTS HAVE A RED/YELLOW CONTRAST THEME */

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    color: white;
    font-family: 'Barlow', sans-serif;
    background-color: black;
    background-image: url(./assets/red-seats.jpeg);
    background-size: cover;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    margin: 2rem 0;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* This stylizes the names in brackets located in the <h1> element */
.name {
    font-family: 'Coming Soon', cursive;
    font-size: 2rem;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 0 5rem;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein 1s ease 1;
}

button,
input {
    background-color: transparent;
    border-radius: 10px;
    color:white;
    text-align: center;
}


button {
    margin: 5px 10px;
    padding: 1.5rem 3rem;
    transition: all 200ms ease;
    border: 5px solid rgb(241, 199, 93);
}

button:hover,
button:focus {
    color: rgb(241, 199, 93);
    background: rgba(128, 0, 0, 0.8);
}

input {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 1rem 2rem;
    margin: 2rem 4rem;
    border: 3px solid rgb(241, 199, 93);
}

input::placeholder {
    opacity: 0.8;
}

footer {
    font-size: 1.6rem;
    height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER AND FORM SECTION STYLINGS */

.instructions {
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 1.5px;
    height: 100%;
}

/* These stylings belong to the hide button */
.hide-instructions {
    border: none;
    background: transparent;
    color: white;
    padding: 1rem 1rem;
    text-transform: uppercase;
    border: 3px solid rgb(241, 199, 93);
}

/* These stylings belong to inputs and form elements below the header for user to interact with */
.user-window {
    height: 175px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MOVIE POSTER STYLINGS */

.movie {
    margin: 20px;
    width: calc(50% - 80px);
    position: relative;
}

.game-window {
    display: flex;
    justify-content: space-between;
}

/* This is position relative to allowed the before element - holding the red border - to be placed behind the movie poster */
.img-container {
    min-width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 1s ease 1;
    position: relative;
}

/* These stylings give consistent sizes to movie posters that are generated by the API */
.img-container img {
    border: 15px dotted rgb(241, 199, 93);
    max-height: 100%;
    width: 100%;
    max-width: 480px;
    object-fit: contain;
}

/* These stylings belong to red/yellow borders behind movie posters */
.img-container:before {
    content: "";
    display: block;
    position: absolute;
    top: -10;
    width: 102%;
    height: 102%;
    max-width: 480px;
    background-color: crimson;
    border-radius: 10px;
    z-index: -1;
    outline: 5px solid darkred;
    box-shadow: 10px 10px 10px black;
}

/* These stylings are for question mark that acts as a placeholder before user inputs their movie choice */
.question-mark{
    font-family: 'Lora', serif;
    font-size: 30rem;
    text-shadow: 10px 10px 10px black, -3px 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    animation: fadein 5s ease 1;
}

/* This selector prevents the default red/yellow movie poster border from appending to the question mark container */
.question-mark.img-container:before {
    content: none;
}

/* These stylings belong to text content below movie posters */
.info-container {
    min-width: 13rem;
    background-color: rgba(33, 33, 33, 0.6);
    border-radius: 10px;
    padding: 0.5rem 3rem 2rem 3rem;
    margin-top: 2rem;
    width: 100%;
}

/* These stylings distinguish the movie titles and dates from the plot text-content */
.info-container h3 {
    margin: 2rem 0; 
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 60%;
}

/* These stylings are for movie plot content */
.info-container p{
    font-size: 1.8rem;
    line-height: 2.5rem;
}

/* This styling is for message that appears when user inputs their movie and confrims their selection */
.message-container {
    margin-bottom: 20px;
}

/* STYLINGS FOR ELEMENTS DYNAMICALLY ADDED BY JS */

.message {
    padding-bottom: 30px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    height: 70px;
}

a {
    color: white;
    text-decoration: none;
    transition: all 200ms ease;
}

a:hover,
a:focus {
    color: gold;
    font-size: 1.8rem;
}

/* STYLINGS FOR JS PURPOSES ONLY */

/* This styling is used in script.js to dynamically hide and unhide elements when needed */
.hide {
    display: none;
}

.fade-in {
    animation: fadein 500ms ease 1;
}

.fade-out {
    animation: fadeout 1s ease 1;
}

/* These stylings are for score numbers that appear when user confirms their movie choice */
    /* Positioned absolute so that they are located within the movie posters */
.score {
    font-family: 'Coming Soon', cursive;
    position: absolute;
    font-size: 7rem;
    color: black;
    left: 39%;
    top: 15%;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flip 2s ease 1;
    transform: rotateZ(-20deg);
}

/* This container holds the greater-than/less-than symbol that appears when user confirms movie choice */
.arrow-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    position: relative;
}

/* These stylings belong to greater-than/less-than and equals symbols */
.fa-greater-than,
.fa-equals {
    font-size: 5rem;
    color: white;
    transform: scale(2);
}

/* ANIMATIONS */

.win {
    animation: greaterthan 3s cubic-bezier(.17,.67,.02,1.12) 1;
}

.lose {
    animation: lessthan 3s cubic-bezier(.17,.67,.02,1.12) 1;
    rotate: 180deg;
}

/* Fade-in is used throughout the page to animate movie posters, scores and messages */
@keyframes fadeout {
     0% {
        opacity: 1;
        /* transform: scale(1); */
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        /* transform: scale(1); */
    }

    100% {
        opacity: 1;
    }
}

/* Flip is used for greater-than, less-than and equals symbols */
@keyframes flip {
    0% {
        transform: rotateX(-90deg) scale(0);
    }

    80% {
        transform: rotateX(0deg) scale(1.4);
    }

    100% {
        transform: rotateX(0deg) scale(1) rotateZ(-20deg);
    }
}

/* Specific animations for wins and losses below */

@keyframes greaterthan {
    0% {
        transform: rotateZ(0deg) scale(0);
    }


    100% {
        transform: rotateZ(2880deg) scale(2);   
    }
}

@keyframes lessthan {

    0% {
        rotate: 0deg;
        transform: scale(0);
    }

    100% {
        rotate: 3060deg;
        transform: scale(2);
    }
}


/* MEDIA QUERIES */
    /* all question-mark stylings related to positioning between movie posters */

@media only screen and (max-width: 1050px){

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .name {
        font-size: 2rem;
    }

    .instructions {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 1px;
    }

    .user-window {
        height: 200px;
        margin-top: 1rem;
    }

    .question-mark {
        font-size: 20rem;
        margin-top: 140px;
    }

    .message {
        font-size: 4rem;
    }

    .score {
        font-size: 5rem;
        width: 110px;
        height: 110px;
        left: 49%;
        top: 18%;
    }

    /* Used to lower thickness of red/yellow border around movie posters */
    .img-container:before {
        width: 100%;
        height: 100%;
    }

    .img-container img {
        border: 10px dotted rgb(241,199,93);
    }

    .info-container {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .arrow-container {
        height: 570px;
    }

    .fa-greater-than,
    .fa-equals {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 750px){

    header {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .name {
        font-size: 1.8rem;
    }
    
    .hide-instructions {
       padding: 0.8rem 1rem;
    }

    input {
        padding: 8px 1px;
    }
    
    button {
        padding: 1rem 1rem;
    }

    .question-mark {
        font-size: 17rem;
        margin-top: 110px;
    }

    .message {
        font-size: 3rem;
    }

    .arrow-container {
        height: 370px;
    }

    .score {
        font-size: 3.5rem;
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-width: 630px) {
    input {
        padding: 8px 1px;
    }

    .question-mark {
        font-size: 13rem;
        margin-top: 80px;
    }

    .arrow-container {
        height: 320px;
    }

    .fa-greater-than,
    .fa-equals {
        font-size: 3.5rem;
    }


    .score {
        font-size: 2.5rem;
        width: 70px;
        height: 70px;
    }
}


@media only screen and (max-width: 520px){
    .question-mark {
        font-size: 10rem;
        margin-top: 50px;
    }

    .message {
        font-size: 2.5rem;
    }

    .arrow-container {
        height: 210px;
    }

    .fa-greater-than,
    .fa-equals {
        font-size: 2.5rem;
    }

    .game-window {
        justify-content: center;
    }

    .fa-greater-than,
    .fa-equals {
        position: absolute;
        left: -7px;
        z-index: 100;
    }

    .info-container {
        padding: 0.5rem 1rem 2rem;
    }
}